<div class="container">

<h1>Liste des utilisateurs</h1>
<table class="table table-bordred table-striped">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Adresse</th>
      <th scope="col">Telephone</th>
      <th scope="col">Role</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let utilisateur of utilisateurs">
      <td> {{utilisateur.coorDto.nom}} </td>
      <td> {{utilisateur.coorDto.prenom}} </td>
      <td> {{utilisateur.coorDto.email}} </td>
      <td> {{utilisateur.coorDto.adresse}} </td>
      <td> {{utilisateur.coorDto.noTelephone}} </td>
      <td> {{utilisateur.role}} </td>
      <td align="center"><button class="btn btn-primary btn-xs" (click)="assignUtilisateurUpdate(utilisateur)"><span class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#edit"></span></button></td>
      <td align="center"><button class="btn btn-danger btn-xs"  (click)="supprimeUtlisateur(utilisateur)"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#suppression" ></span></button></td>
    </tr>
  </tbody>
</table>
<button class="button-message" type="button" class="btn btn-primary" (click)="showUtilisateurForm()">Ajouter un utilisateur</button>

<!-- Utilisateur update-->
  <div *ngIf="utilisateurUpdate.coorDto" [hidden]="hiddenFormUpdate">
      <h1>Mise a jour d'un utilisateur</h1>
      <form>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="utilisateurUpdate.coorDto.nom" required >
          </div>
   
          <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="utilisateurUpdate.coorDto.prenom" required >
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="utilisateurUpdate.coorDto.email" required >
              </div>

              <div class="form-group">
                  <label for="adresse">Adresse</label>
                  <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="utilisateurUpdate.coorDto.adresse" required >
                </div>

                <div class="form-group">
                    <label for="noTelephone">Téléphone</label>
                    <input type="text" class="form-control" id="noTelephone" name="noTelephone" [(ngModel)]="utilisateurUpdate.coorDto.noTelephone" required >
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" class="form-control" id="role" name="role" [(ngModel)]="utilisateurUpdate.role" required >
                </div>
                <button class="button-message" type="submit" style="margin-left:10px; margin-bottom: 10px" class="btn btn-primary" (click)="updateUtilisateur()">Mettre a jour</button>
                <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleUpdate()">Annuler</button>   
      </form>
  </div>


  <div [hidden]="hiddenFormCreate">
      <h1>Création d'un utilisateur</h1>
      <form>
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="utilisateurCreation.nom" required >
          </div>
   
          <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="utilisateurCreation.prenom" required >
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="utilisateurCreation.email" required >
              </div>

              <div class="form-group">
                  <label for="adresse">Adresse</label>
                  <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="utilisateurCreation.adresse" required >
                </div>

                <div class="form-group">
                    <label for="noTelephone">Téléphone</label>
                    <input type="text" class="form-control" id="noTelephone" name="noTelephone" [(ngModel)]="utilisateurCreation.noTelephone" required >
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" class="form-control" id="role" name="role" [(ngModel)]="utilisateurCreation.role" required >
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left:10px; margin-bottom: 10px" (click)="createUtilisateur()" >Ajouter utilisateur</button>
                <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleCreation()">Annuler</button>
   
      </form>
  </div>

</div>