
<div class="container">
  
  <h1>
    Matieres
  </h1>

  <table id="mytable" class="table table-bordred table-striped">              
    <thead>
      <th>titre</th>
      <th>duree</th>
      <th>objectifs</th>
      <th>preRequis</th>
      <th>contenu</th>
      <th>Edition</th>
      <th>Suppression</th>
    </thead>
    <tbody>
      <tr *ngFor="let matiere of matieres">
        <td> {{ matiere.titre }} </td>
        <td> {{ matiere.duree }} </td>
        <td> {{ matiere.objectifs }} </td>
        <td> {{ matiere.preRequis }} </td>
        <td> {{ matiere.contenu }} </td>
        <td><button class="btn btn-primary btn-xs" (click)="assignMatiereUpdate(matiere)"><span class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#edit"></span></button></td>
        <td><button class="btn btn-danger btn-xs"  (click)="supprimeMatiere(matiere)"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#edit" ></span></button></td>
      </tr>
    </tbody>
  </table>

  <button class="button-message" type="button" class="btn btn-primary" (click)="showMatiereForm()">Ajouter une matière</button>

  <!-- Formulaire update -->
  <div [hidden]="hiddenFormUpdate">
      <h1>Mise a jour d'une matière</h1>
      <form>
   
        <div class="form-group">
          <label for="titre">titre</label>
          <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="matiereUpdate.titre" required>
        </div>
        
        <div class="form-group">
          <label for="id">duree</label>
          <input type="text" class="form-control" id="duree" name="duree" [(ngModel)]="matiereUpdate.duree" required>
        </div>

        <div class="form-group">
          <label for="objectifs">objectifs</label>
          <input type="text" class="form-control" id="objectifs" name="objectifs" [(ngModel)]="matiereUpdate.objectifs" required>
        </div>

        <div class="form-group">
          <label for="preRequis">preRequis</label>
          <input type="text" class="form-control" id="preRequis" name="preRequis" [(ngModel)]="matiereUpdate.preRequis" required>
        </div>

        <div class="form-group">
          <label for="preRequis">Contenu</label>
          <input type="text" class="form-control" id="contenu" name="contenu" [(ngModel)]="matiereUpdate.contenu" required>
        </div>
   
        <div>
          <button class="button-message" type="submit" style="margin-left:10px; margin-bottom: 10px" class="btn btn-primary" (click)="updateMatiere()">Mettre a jour</button>
          <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleUpdate()">Annuler</button>
        </div>
      </form>
  </div>

    <!-- Formulaire création -->
    <div [hidden]="hiddenFormCreate">
        <h1>Création d'une matière</h1>
        <form>     
          <div class="form-group">
            <label for="titre">titre</label>
            <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="matiereCreation.titre" required>
          </div>
          
          <div class="form-group">
            <label for="id">duree</label>
            <input type="text" class="form-control" id="duree" name="duree" [(ngModel)]="matiereCreation.duree" required>
          </div>
  
          <div class="form-group">
            <label for="objectifs">objectifs</label>
            <input type="text" class="form-control" id="objectifs" name="objectifs" [(ngModel)]="matiereCreation.objectifs" required>
          </div>
  
          <div class="form-group">
            <label for="preRequis">preRequis</label>
            <input type="text" class="form-control" id="preRequis" name="preRequis" [(ngModel)]="matiereCreation.preRequis" required>
          </div>
  
          <div class="form-group">
            <label for="preRequis">Contenu</label>
            <input type="text" class="form-control" id="contenu" name="contenu" [(ngModel)]="matiereCreation.contenu" required>
          </div>
     
          <button type="submit" class="btn btn-primary" style="margin-left:10px; margin-bottom: 10px" (click)="createMatiere()" >Ajouter matière</button>
          <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleCreation()">Annuler</button>

        </form>

    </div>

</div>