<div class="container">

  <h1>
    Compétences
  </h1>

  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>Formateur</th>
      <th>Matière</th>
      <th>Niveau</th>
      <th>Edition</th>
      <th>Suppression</th>
    </thead>
    <tbody>
      <tr *ngFor="let competence of competences">
        <td> {{ competence.formateur.coorDto.prenom }} {{ competence.formateur.coorDto.nom }}</td>
        <td> {{ competence.matiere.titre }}</td>
        <td> {{ competence.niveau }}</td>
        <td><button class="btn btn-primary btn-xs" (click)="assignCompetenceUpdate(competence)"><span class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#edit"></span></button></td>
        <td><button class="btn btn-danger btn-xs"  (click)="supprimeCompetence(competence)"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#edit" ></span></button></td>
      </tr>
    </tbody>
  </table>

  <button class="button-message" type="button" class="btn btn-primary" (click)="showCompetenceForm()">Ajouter une compétence</button>

  <!-- Formulaire Update -->
  <div [hidden]="hiddenFormUpdate">
    <h1>Mise à jour d'une compétence</h1>    
    <form>
      <div class="form-group">
        <input type="hidden" class="form-control" id="id" name="id" [(ngModel)]="competenceUpdate.id">
      </div>
      <div class="form-group">
        <label for="formateur">Formateur</label>
        <input type="text" class="form-control" id="formateur" name="formateur" [(ngModel)]="competenceUpdate.formateur.id" *ngIf="competenceUpdate.formateur!=null" required>
      </div>
      <div class = "form-group">
        <label for="matiere">Matière</label>
        <input type="text" class="form-control" id="matiere" name="matiere" [(ngModel)]="competenceUpdate.matiere.id" *ngIf="competenceUpdate.matiere!=null" required>
      </div>
      <div class="form-group">
        <label for="niveau">Niveau</label>
        <!--<input type="text" class="form-control" id="niveau" name="niveau" [(ngModel)]="competenceUpdate.niveau" required>-->
        <select class="form-control" id="niveau" name="niveau">
          <option selected>{{ competenceUpdate.niveau }}</option>
          <option value="DEBUTANT">DEBUTANT</option>
          <option value="INTERMEDIARE">INTERMEDIAIRE</option>
          <option value="AVANCE">AVANCE</option>
          <option value="EXPERT">EXPERT</option>
        </select>       
      </div>
      <div>
        <button class="button-message" type="submit" style="margin-left:10px; margin-bottom: 10px" class="btn btn-primary" (click)="updateCompetence()">Mettre à jour</button>
        <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleCompetence()">Annuler</button>
      </div>
    </form>
  </div>

  <!-- Formulaire de création -->
  <div [hidden]="hiddenFormCreate">
    <h1>Création d'une compétence</h1>
    <form>
      <div class="form-group">
        <label form="matiere">Matière</label>
        <input type="text" class="form-control" id="matiere" name="matiere" [(ngModel)]="competenceCreation.matiereId" required>
      </div>
      <div class="form-group">
        <label form="niveau">Niveau</label>
        <select class="form-control" id="niveau" name="niveau"  [(ngModel)]="competenceCreation.niveau" aria-placeholder="Veuillez choisir le niveau de la compétence" required>
            <option value="DEBUTANT">DEBUTANT</option>
            <option value="INTERMEDIARE">INTERMEDIAIRE</option>
            <option value="AVANCE">AVANCE</option>
            <option value="EXPERT">EXPERT</option>
          </select>
      </div>
      <div class="form-group">
        <label for="formateur">Formateur</label>
        <input type="text" class="form-control" id="formateur" name="formateur" [(ngModel)]="competenceCreation.utilisateurId" required>        
      </div>      
      <button type="submit" class="btn btn-primary" style="margin-left:10px; margin-bottom: 10px" (click)="createCompetence()" >Ajouter compétence</button>
      <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="annuleCreation()">Annuler</button>
    </form>
  </div>
</div>