<!-- compte update-->
<div class="container">
  <div >
    <h1>Mise a jour d'un compte</h1>
    <form class="col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6" id="formCompte">
        <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="EnabledUpdate()">Modifier mes informations</button>   
        <button type="submit" class="btn btn-danger" style="margin-left:10px; margin-bottom: 10px" (click)="DisabledUpdate()">Anuller modification</button>   

      <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" name="nom" required >

          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" name="prenom" required >

          <label for="mdp">Mot de passe</label>
          <input type="password" class="form-control" id="mdp" name="mdp" required >

          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email" required >

          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" name="adresse" required >

          <label for="noTelephone">Téléphone</label>
          <input type="text" class="form-control" id="noTelephone" name="noTelephone" required >

          <label for="role">Role</label>
          <input type="text" class="form-control" id="role" name="role" required >
        </div>
              <button class="button-message" type="submit" style="margin-left:10px; margin-bottom: 10px" class="btn btn-primary" (click)="updateUtilisateur()">Mettre a jour</button>
            </form>
  </div>


</div>