<div class="container">

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
          <li>        
            <a>
            <img src="../../../../assets/image/Myfactory-back.png" style="width: 100px;">
            </a>
         </li> 

          <li>             
          <li>        
              <a [routerLink]="['/']" >Accueil</a>
          </li>       
          <li  ng-style="{ display: hasAccesToMatiere  ? 'block;' : 'none !important;' }" [style]="hasAccesToMatiere ? '' : 'd-none'" [hidden]="!hasAccesToMatiere">         
              <a [routerLink]="['/matiere']" >Matières</a>
          </li>       
          <li>
              <a [routerLink]="['/formateur']"[hidden]="!hasAccesToFormatieur">Formateur</a>
          </li>     
          <li>
              <a [routerLink]="['/planning']" [hidden]="!hasAccesToPlanning">Planning</a>
          </li>
          <li>
              <a [routerLink]="['/materiel']" [hidden]="!hasAccesToMateriel">Materiel</a>
          </li>
          <li>
              <a [routerLink]="['/competence']" [hidden]="!hasAccesToCompetence" >Competence</a>
          </li>
          <li>
              <a [routerLink]="['/compte']" [hidden]="!hasAccesToCompte" >Compte</a>
          </li>
          <li>
              <a [routerLink]="['/utilisateur']" [hidden]="!hasAccesToUtilisateur" >Utilisateur</a>
          </li>
          <li>
              <a [routerLink]="['/connexion']" [hidden]="isConnected">Connexion</a>
          </li>   
          <li>
              <a (click)="deconnexion()" [hidden]="!isConnected">Deconnexion</a>
          </li>                    
  </ul>   
</nav>  
 
</div> 