<div class="container">

  <h1>MY FACTORY</h1>


  <div class="row">
      <div class="col-md-4 col-md-offset-4">
        
          <h1>Connexion</h1>
          <form>
      
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email* (ex_mail@domaine.com)" [(ngModel)]="email" required>
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control" id="password" name="password"  placeholder="Mot de passe* (8 caractères min)" [(ngModel)]="password" required>
            </div>
      
            <input type="checkbox" class="form-check-input" id="resterConnect">
            <label  class="form-check-label" for="resterConnect" style="margin-bottom: 20px;" >Rester connecté</label>

            <a href="" style="margin-left: 90px;"><u>Mot de passe oublié ?</u></a>

            <p>* Champs obligatoires</p>
            <div>
              <button class="button-message" type="submit" class="btn btn-primary" (click)="connexion()">Se connecter</button>
            </div>

            <a href="" style="margin-left: 140px; font-size: 120%; font-weight: bold;"><u>Je m'inscris</u></a>
          </form>

      </div>
  </div>

</div>