<div class="container">

  <h1>
    Matières
  </h1>

  <table id="mytable" class="table table-bordred table-striped">
    <thead>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Objectifs</th>
      <th>Durée</th>
      <th>PréRequis</th>
    </thead>
    <tbody>
      <tr *ngFor="let matiere of matieres">
        <td> {{ matiere.titre }}</td>
        <td> {{ matiere.contenu }}</td>
        <td> {{ matiere.objectifs }}</td>
        <td> {{ matiere.duree }}</td>
        <td> {{ matiere.preRequis }}</td>
        <td><button class="btn btn-primary btn-xs" (click)="matiereUpdate(matiere)"><span class="glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#edit"></span></button></td>
        <td><button class="btn btn-danger btn-xs"  (click)="deleteMatiere(matiere)"><span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#edit" ></span></button></td>
      </tr>
    </tbody>
  </table>

  <button class="button-message" type="button" class="btn btn-primary" (click)="showCompetenceForm()">Ajouter une matière</button>

</div>